body {
  font-family: Manrope, sans-serif;
}

@media (min-width: 320px) {
  /* ====================>Home section */
  .hero_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .hero_header.show {
    transform: translateX(0);
  }
  .icon {
    font-size: 22px;
  }
  .hero_header img {
    width: 150px;
  }
  .hero_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 7rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .hero_heading {
    display: grid;
  }
  .hero_heading--tag {
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    border: 1px solid #0d0e10;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 80%;
  }
  .hero_heading--text {
    font-size: 3rem;
    line-height: 1.1;
  }
  .hero_heading--img {
    display: flex;
    gap: 1rem;
  }
  .hero_heading--img img {
    height: 4rem;
    width: 9rem;
  }
  .hero_description-text {
    font-size: 1rem;
    line-height: 2;
  }
  .hero_description-bold {
    font-weight: 600;
    color: #0d0e10;
  }
  /* ==========END=======>Home section */
  .show {
    transform: translateX(400px);
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .logo img {
    height: 1.85rem;
    width: auto;
    cursor: pointer;
  }
  .icon {
    background-color: #fff;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: #0d0e10;
    transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header_nav {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .header_list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 23px;
    padding: 0;
    border-bottom-width: 1px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .header_list ul li {
    padding: 0 1rem;
    list-style: none;
  }
  .header_list ul li a {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
  }
  .header_list {
    border-bottom: 1px solid #323232;
  }
  .header_contact {
    padding: 22px 85px;
    border-radius: 50px;
    background-color: #6e43fb;
    margin: 2.5rem 0;
    text-align: center;
  }
  .header_contact a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
  }
  .icon_header {
    background-color: black;
    color: #bfbfbf;
    font-size: 30px;
  }
}
@media (min-width: 667px) {
  .show {
    transform: translateX(800px);
  }
  .hero_heading--text {
    font-size: 6.875rem;
    line-height: 1.1;
  }
  .hero_heading--img img {
    height: 6rem;
    width: 15rem;
  }
  .hero_heading--tag {
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    border: 1px solid #0d0e10;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 34%;
  }
}
