* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Manrope, sans-serif;
  background-color: #080808;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
@media (min-width: 320px) {
  /* ====================>Home section */
  .hero_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .hero_section {
    background-color: #fff;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  .hero_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 7rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .hero_header.show {
    transform: translateX(0);
  }
  .icon {
    font-size: 22px;
  }
  .hero_header img {
    width: 150px;
  }

  .hero_heading {
    display: grid;
  }
  .hero_heading--tag {
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    border: 1px solid #0d0e10;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 80%;
  }
  .hero_heading--text {
    font-size: 3rem;
    line-height: 1.1;
  }
  .hero_heading--img {
    display: flex;
    gap: 1rem;
  }
  .hero_heading--img img {
    height: 4rem;
    width: 9rem;
  }
  .hero_description {
    margin-bottom: 3rem;
  }
  .hero_description-text {
    font-size: 1rem;
    line-height: 2;
  }
  .hero_description-bold {
    font-weight: 600;
    color: #0d0e10;
  }
  /* ==========END=======>Home section */
  .show {
    transform: translateX(400px);
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .logo img {
    height: 1.85rem;
    width: auto;
    cursor: pointer;
  }
  .icon {
    background-color: #fff;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: #0d0e10;
    transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header_nav {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .header_list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 23px;
    padding: 0;
    border-bottom-width: 1px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .header_list ul li {
    padding: 0 1rem;
    list-style: none;
  }
  .header_list ul li a {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
  }
  .header_list {
    border-bottom: 1px solid #323232;
  }
  .header_contact {
    padding: 22px 85px;
    border-radius: 50px;
    background-color: #6e43fb;
    margin: 2.5rem 0;
    text-align: center;
  }
  .header_contact a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
  }
  .icon_header {
    background-color: black;
    color: #bfbfbf;
    font-size: 30px;
  }
  /* ===>logos */
  .client {
    background-color: #080808;
  }
  .Client_content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .Client_content img {
    width: 80%;
  }
  /* =//=>logos */
  /* ==================================>ABOUT */
  .about_container {
    background-color: #0e0e0e;
  }
  .about-title h3 {
    padding-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 0;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 3rem 1.5rem;
  }
  .about-description p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, 0.7);
  }
  .About_descripton-brand {
    color: #6e43fb;
  }
  /* ===============END================>ABOUT */

  /* ==================================>OUR SERVICE  */
  .service {
    background-color: #0e0e0e;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .service-content {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .service-heading span {
    border: 1px solid #aaa;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }
  .service-heading h3 {
    font-size: 1.875rem;
    line-height: 1.625;
    margin-bottom: 1.25rem;
    margin-top: 3rem;
  }
  .card {
    cursor: pointer;
    border-radius: 0.75rem;
    padding: 1.25rem;
    margin-bottom: 2rem;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
  }
  .card:hover {
    background-color: #0d0e10;
  }
  .card img {
    width: 200px;
  }
  .card h5 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
  }
  .card p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #ffffffb3;
  }
  /* ==================END===============>OUR SERVICE  */

  /* ================================>PORTFOLIO  */
  .portfolio {
    background-color: #efefef;
    margin: 0 20px;
    border-radius: 1rem;
    color: #1e1e1e;
  }
  .containers {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .porfolio__container {
    padding: 2rem 1.25rem;
    margin-bottom: 2rem;
  }
  .portfolio__tag {
    border: 1px solid #7b7b7b;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 22%;
    margin-bottom: 0.625rem;
  }
  .portfolio__heading {
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 400;
  }
  .portfolio__card-photo img {
    width: 240px;
  }
  .portfolio__card--title {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .portfolio__card--desc {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0c0d0fb3;
  }
  .portfolio__card--tag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.625rem;
  }
  .portfolio__card--tagline {
    flex-shrink: 0;
    border-radius: 9999px;
    border: 1px solid #0d0e10;
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .portfolio__cta {
    text-align: center;
    width: 100%;
  }
  .portfolio__cta a {
    text-decoration: none;
  }
  .portfolio__cta--button {
    background-color: #0d0e10;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    color: #fff;
  }

  /* =================END=============>PORTFOLIO   */

  /* ===================================FOOTER */
  .footer__large {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    color: #fff;
  }
  .footer__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
  }
  .footer__brand--logo {
    width: 18rem;
  }
  .footer__brand--maps {
    border: 1px solid #ffffff0d;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .footer__menu--phone {
    margin-top: 1rem;
  }
  .footer__brand--maps--link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #ffffffb3;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__brand--maps--link:hover {
    color: #6e43fb;
  }
  .footer__navigation {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .footer__menu {
    margin-bottom: 3rem;
  }
  .footer__menu,
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__menu--heading,
  .footer__social--heading {
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #ffffffb3;
  }
  .footer__menu--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer_social_group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.25rem;
    row-gap: 1rem;
  }
  .footer__menu--link,
  .footer__social--link {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  button {
    border: none;
  }
  .footer__cta {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
    border-top: 1px solid #1e1e1e;
  }
  .cta__container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .footer__cta--heading {
    padding-bottom: 1rem;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .footer__cta--grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__cta--button {
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
    line-height: 1.375;
    color: #ffffffb3;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__copyright {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-top: 1px solid #1e1e1e;
  }
  /* ===============END FOOTER===========FOOTER */
}
@media (min-width: 375px) {
  .portfolio__card-photo img {
    width: 289px;
  }
  .footer__cta--arrow {
    font-size: 100px;
    color: #ffffffb3;
  }
}

@media (min-width: 667px) {
  .show {
    transform: translateX(800px);
  }
  .hero_heading--text {
    font-size: 6.875rem;
    line-height: 1.1;
  }
  .hero_heading--img img {
    height: 6rem;
    width: 15rem;
  }
  .hero_heading--tag {
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    border: 1px solid #0d0e10;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 34%;
  }
  .portfolio__card-photo img {
    width: 583px;
  }

  .footer__cta--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 414px) {
  .hero_section {
    margin-right: 14px;
  }
  .portfolio__tag {
    width: 38%;
  }
  .portfolio__card-photo img {
    width: 333px;
  }
  .hero_heading--tag {
    width: 69%;
  }
  .footer__cta--button {
    text-align: left;
    font-size: 1.9rem;
  }
  .footer__cta--arrow {
    font-size: 78px;
  }
}
@media (min-width: 896px) {
  .about_container,
  .hero_section,
  .service {
    padding-left: 64px;
    padding-right: 64px;
  }
  .portfolio {
    margin-left: 85px;
    margin-right: 85px;
  }
  .show {
    transform: translateX(910px);
  }
  .hero_section {
    margin-right: 0px;
  }
  .portfolio__card-photo img {
    width: 684px;
  }
  .portfolio__card--desc {
    font-size: 1.1rem;
  }
  .portfolio__tag {
    width: 19%;
  }
  .hero_heading--tag {
    width: 35%;
  }
  .footer__cta {
    width: 100%;
  }
  .footer__cta--button {
    font-size: 48px;
  }
  .footer__cta--grid {
    gap: 0rem;
  }
}
